{% extends 'kalm_quizes/base_template.html' %}

{% block content %}
<h1>Переведите и расставьте слова по порядку:</h1><br>
<form action="{% url 'kalm_quizes:put_in_order_checking' quiz.id question.question_number %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h3>{{question.question_text}}</h3></legend>
        {% for i in range %}
            <select name="word{{i}}">
                <option value="none" selected></option>
            {% for word in text %}
                <option value="{{word}}">{{word}}</option>
            {% endfor %}
            </select>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Ответить">
</form>

<h2>{{message}}</h2>

{% endblock %}
