{% extends 'kalm_quizes/base_template_1.html' %}
{% load quizes_extras %}

{% block content %}
<h1>Задание на порядок</h1><br>
<form action="{% url 'kalm_quizes:put_in_order_page' quiz.id question.question_number %}" method="post" id="s">
    {% csrf_token %}
    <fieldset>
        <legend><h3>{{question.question_text}}</h3></legend>
        {% for i in range %}
            <select name="word{{forloop.counter}}">
                <option value="none"></option>
            {% for word in text %}
                {% if i == word %}
                    <option value="{{word}}" selected>{{word}}</option>
                {% else %}
                    <option value="{{word}}">{{word}}</option>
                {% endif %}
                {% endfor %}
            </select>
        {% endfor %}
    </fieldset>
</form>

{% if 0 <= question.question_number|add:'-2'  %}
    {% get_list_element quiz.get_all_related question.question_number|add:'-2' as left %}
{% endif %}
{% get_list_element quiz.get_all_related question.question_number as right %}

<p>{% if left %}<a href="{{left.get_absolute_url}}">Назад|</a> {%  endif %}
<input type="submit" value="Ответить" form="s">
{% if right %}<a href="{{right.get_absolute_url}}">|Вперед</a>{% endif %}</p>
<hr>
<a href="{% url 'kalm_quizes:quiz_page' quiz.id %}">Cтраница курса</a>


<h2>{{message}}</h2>


{% endblock %}
