{% extends 'kalm_quizes/base_template_1.html' %}

{% block content %}
<h1>Профиль пользователя {{user.username}}</h1>
<p>Никнейм пользователя: {{user.username}}</p>
<p>Имя пользователя: {{user.first_name}}</p>
<p>Фамилия: {{user.last_name}}</p>
<p></p>
<h3>Список начатых курсов:</h3>
<ul>
    {% for quiz, stat in quizes_stat %}
        <li><a href="{% url 'kalm_quizes:quiz_page' quiz.id %}">{{quiz.quiz_name}}</a> | Решено: {{stat}} /{{quiz.get_count_all}}</li>
    {% endfor %}
</ul>
{% endblock %}