{% extends 'kalm_quizes/base_template_1.html' %}

{% block content %}
<h1>Профиль пользователя {{user.username}}</h1>
<p>user.is_authenticated: {{user.is_authenticated}}</p>
<p>user.pk: {{user.pk}}</p>
<p>user.username: {{user.username}}</p>
<p>user.first_name: {{user.first_name}}</p>
<p>user.last_name: {{user.last_name}}</p>
<p>user.is_staff: {{user.is_staff}}</p>
<p></p>
<h3>Список начатых курсов:</h3>
<ul>
    {% for quiz, stat in quizes_stat %}
        <li><a href="{% url 'kalm_quizes:quiz_page' quiz.id %}">{{quiz.quiz_name}}</a> | Решено: {{stat}} /{{quiz.get_count_all}}</li>
    {% endfor %}
</ul>
<p>{{quizes_stat}}</p>
{% endblock %}