{% extends 'kalm_quizes/base_template_1.html' %}
{% load quizes_extras %}

{% block head %}
{% endblock %}

{% block content %}
<h3>Заполните пропуски подходящими по смыслу словами</h3>
{% autoescape off %}
    {% for el in text_split %}
        {% if el == '___' %}
            {% if words_dict %}
                {% get_dict_val words_dict forloop.counter as selected_word %}
            {% endif %}
            <select name="{{forloop.counter}}" form="this">
                <option value="none"></option>
                {% for word in choices_list %}
                    {% if word == selected_word %}
                        <option value="{{word}}" selected>{{word}}</option>
                    {% else %}
                        <option value="{{word}}">{{word}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% else %}
            {{el}}
        {% endif %}
    {% endfor %}
{% endautoescape %}

<form action="{% url 'kalm_quizes:put_in_gaps_page' quiz.id question.question_number %}" method="post" id="this">
    {% csrf_token %}
</form>
{% if 0 <= question.question_number|add:'-2'  %}
    {% get_list_element quiz.get_all_related question.question_number|add:'-2' as left %}
{% endif %}
{% get_list_element quiz.get_all_related question.question_number as right %}

<p>{% if left %}<a href="{{left.get_absolute_url}}">Назад|</a> {%  endif %}
<input type="submit" value="Ответить" form="this">
{% if right %}<a href="{{right.get_absolute_url}}">|Вперед</a>{% endif %}</p>
<hr>
<a href="{% url 'kalm_quizes:quiz_page' quiz.id %}">Cтраница курса</a>

<h1>{{message}}</h1>



{% endblock %}