{% extends 'kalm_quizes/base_template_1.html' %}
{% load quizes_extras %}

{% block head %}
    <title>Задание № {{ question.question_number }}</title>
{% endblock %}

{% block content %}

<form action="{% url 'kalm_quizes:single_choice_page' quiz.id question.question_number %}" method="post" id="s">
    {% csrf_token %}
    <fieldset>
    <legend><h1>{{question.question_text}}</h1></legend>
        <h3> Выберите один из предложенных вариантов:</h3>
        {% for answer in answers_set %}
            {% if selected_answer == answer %}
                <input type="radio" name="answer" id="answer{{forloop.counter}}" value="{{answer}}" checked>
            {% else %}
                <input type="radio" name="answer" id="answer{{forloop.counter}}" value="{{answer}}">
            {% endif %}
            <label for="answer{{forloop.counter}}">{{answer}}</label><br>
        {% endfor %}
</fieldset>

</form>
{% if 0 <= question.question_number|add:'-2'  %}
    {% get_list_element quiz.get_all_related question.question_number|add:'-2' as left %}
{% endif %}
{% get_list_element quiz.get_all_related question.question_number as right %}

<p>{% if left %}<a href="{{left.get_absolute_url}}">Назад|</a> {%  endif %}
<input type="submit" value="Ответить" form="s">
{% if right %}<a href="{{right.get_absolute_url}}">|Вперед</a>{% endif %}</p>
<hr>
<a href="{% url 'kalm_quizes:quiz_page' quiz.id %}">Cтраница курса</a>

   {% if message %}<h2>{{ message}}</h2>
    {% endif %}

{% endblock %}